# Hugging Face model loading
# Can be either owner/repo or https://huggingface.co/owner/repo
APP_CLASSIFIER_HF_REPO_ID=Trinotrotolueno/app-risk-adapters
APP_CLASSIFIER_HF_SUBFOLDER=pdu
APP_CLASSIFIER_HF_TOKEN=

# Queue worker
QUEUE_URL=https://deepsee-queue.herokuapp.com/exchange-batch
QUEUE_API_KEY=
QUEUE_KEY=APP_CLASSIFIER_PLACEHOLDER
BATCH_SIZE=8
